*{
    box-sizing: border-box;
}

.news_area {
    padding-top: 3.675rem;
}
.news_area
#news_status {
    display: flex;
    padding: 1.25rem 0rem;
    font-size: 1.75rem;
    font-weight: 300;
    text-transform: capitalize;
    color: #999999;
}
.news_area
#news_status
.spinner-grow {
    width: 1rem;
    height: 1rem;
}

/* SIDE BAR */
#side_bar {
    width: 280px;
    top: 0;
    bottom: 0;
    left: -300px;
    background-color: #FFF;
    overflow-y: auto;
    position: fixed;
    margin-top: 3.875rem;
    z-index: 2;
    transition: 0.2s;
}
.side_bar_show {
    transform: translateX(300px);
}
#side_bar
a {
    text-decoration: none;
    color: inherit;
    font-size: 0.875rem;
    font-weight: 300;
    display: block;
    transition: 0.3s;
    padding: 0.75rem 2rem;
    margin: 0;
}
#side_bar
a:hover {
    background-color: #E6EEFD;
    color: #1967D2;
}
#side_bar
ul {
    list-style: none;
    border-bottom: 1px solid #CCCCCC;
    margin: 0;
    padding: 1rem 0rem;
}
#side_bar
ul:last-child {
    list-style: none;
    border-bottom: none;
    margin: 0;
    padding: 1rem 0;
}

/* NEWS CARD */
.news_card {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin-bottom: 1.25rem;
    overflow: hidden;
}
.news_card
a {
    text-decoration: none;
    color: inherit;
}
.news_card
p {
    margin: 0;
}
.news_card
.title {
    font-size: 1.25rem;
    font-weight: 400;
    transition: 0.3s;
}
.news_card
.title:hover {
    color: #1967D2;
}
.news_card
.sub_title {
    font-size: 0.75rem;
    display: flex;
    color: #CCCCCC;
}
.news_card
.description {
    font-size: 0.875rem;
    font-weight: 300;
}
.news_card
.thumb {
    border-radius: 5px;
    overflow: hidden;
}
.news_card
.thumb
img {
    width: 100%;
    transition: 8s 0.3s;
}
.news_card:hover
.thumb
img {
    transform: scale(1.8);
}
.news_card
.bottom_line {
    border-top: 1px solid #CCCCCC;
    color: #CCCCCC;
    font-size: 0.75rem;
    transition: 0.15s;
    text-transform: uppercase;
    justify-items: center;
}
.news_card:hover
.bottom_line {
    background-color: #CCCCCC;
    color: #FFF;
}
.news_card:hover
.bottom_line
a {
    transition: 0.15s;
}
.news_card:hover
.bottom_line
a:hover {
    color: #1967D2;
}
.news_card
.social
i {
    padding: 0 0.5rem 0 0.5rem;
    font-size: 1rem;
}

/* HEADER */
.header_area {
    position: fixed;
    width: 100%;
    padding: 0.75rem 0.5rem;
    background-color: #FFF;
    z-index: 3;
}
.header_area
.icon {
    font-size: 1.5rem;
    color: #CCCCCC;
    transition: 0.3s;
}
.header_area
.icon:hover {
    color: #1967D2;
}

/* WIDGET */
.widget {
    background-color: #F8F9FA;
    border-radius: 0.5rem;
}
.widget
a {
    text-decoration: none;
    color: inherit;
}
.widget
p {
    margin: 0;
}
.widget
ul {
    list-style: none;
    padding: 0;
}
.widget
ul
li {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #FFF;
}
.widget
ul
li:last-child {
    padding: 0.75rem 1rem;
    border-bottom: none;
}
.widget
.widget_title {
    border-bottom: 1px solid #FFF;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding: 0.25rem;
    border-radius: 5px 5px 0 0;
    transition: 0.3s;
}
.widget:hover
.widget_title {
    color: #FFF;
    background-color: #CCC;
}
.widget
.main_title
.title {
    font-size: 0.875rem;
    font-weight: 500;
    color: #5F6368;
    padding: 0.25rem 0rem
}
.widget
.main_title
.title:hover {
    color: #1967D2;
}
.widget
.read_more {
    font-size: 0.75rem;
    font-weight: 400;
    color: #CCC;
}
.widget
.published {
    font-size: 0.75rem;
    font-weight: 400;
    color: #CCC;
}

/* MODAL */
.modal
label {
    font-size: 0.75rem;
    font-weight: 300;
    margin: 0.25rem 0;
    color: #CCC;
}
